<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.com">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <title>사원 목록</title>
    <style>

        table {
            border: 1px solid #000000;
        }
    </style>
</head>
<body>
    <a href="/emp/register">사원등록</a>
    <table>
        <thead>
            <tr>
                <td>번호</td>
                <td>부서</td>
                <td>이메일</td>
                <td>이름</td>
                <td>가입일</td>
                <td>비고</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="/emp/delete/1"> 삭제</a>
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>
