table {
    width: 100%;
    border-collapse: collapse;
    
    
}

thead tr {
    background-color: #0b8ed7;
    color: #ffffff;
    height: 45px;
    border: 1px solid #ffffff;
}

thead th {
    border: 1px solid #dbdbdb;
}

tbody tr {
    height: 45px;
    text-align: center;
}

tbody td {
    border: 1px solid #dbdbdb;
}

tbody tr td:nth-child(1) { width: 5%; } 
tbody tr td:nth-child(2) { width: 25%; }
tbody tr td:nth-child(3) { width: 10%; }
tbody tr td:nth-child(4) { width: 10%; }
tbody tr td:nth-child(5) { width: 10%; }
tbody tr td:nth-child(6) { width: 10%; }
tbody tr td:nth-child(7) { width: 15%; }
tbody tr td:nth-child(8) { width: 15%; }
