<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
    </style>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <div class="login-logo">
                <div>
                    <h1><i class="fa-solid fa-graduation-cap"></i>KOREA</h1>
                    <h5>EDUCATION GROUP</h5>
                </div>
                <h3>kit management system</h3>
            </div>
            <div class="login-input">
                <form action="post">
                    <label>Email.</label>
                    <input type="text">
                    <label>Password.</label>
                    <input type="password">
                    <div>
                        <button type="submit">LOGIN</button>
                    </div>
                </form>
            </div>
            <div class="login-register">
                <a href="">Would you like to register?</a>
            </div>
        </div>
    </div>
</body>
</html>